NGINX_EXTERNAL_PORT=8088
POSTGRES_EXTERNAL_PORT=5452
REACT_EXTERNAL_PORT=3030

POSTGRES_DB=app_db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=password

# API URL для фронтенда
VITE_API_URL=http://localhost:${NGINX_EXTERNAL_PORT}